
.idea/

src/node_modules/
node_modules/
terraform/.terraform/

creds/cloudKeys.json

creds/

terraform/.terraform.tfstate.lock.info
terraform/.terraform.tfstate
terraform/.terraform.tfstate.backup

src/auth.json
bin/
terraform.tfvars
